body{
  font-family: "Montserrat";
}

#title{
  background-color: #ea2c62;
  color: white;

}

.heading{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;

}

.download-button{
  margin: 5% 3% 5%;

}

.title-img{
  width: 50%;
  transform: rotate(25deg);
  margin-left: 150px;

}

#features{
  padding: 0 0 2% 0;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

h3{
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 15px;
}
p{
  color: #8f8f8f;
}

.icon{
  color: #EA2C62;
  margin: 1rem;
}

.icon:hover{
  color: #00B0F0;

}

#testimonials{
  background-color: #fff3e2;
  color: black;
  text-align: center;
}
h2{
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.5;
  font-size: 2.5rem;
}
.testimonial-img{
  border-radius: 100%;
  margin: 2%;
  width: 10%;
}

#press{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.carousel-item{
  padding: 7% 15% 7% 15%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px
}

#pricing{
  padding: 100px;
  background-color: #fff3e2;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}

@media (max-width: 1024px){
  .title-img{
    transform: rotate(0);
    /* position: static; */
    width: 40%;
      margin: 0;
  }
  #title{
    text-align: center;
  }
}

#cta{
  text-align: center;
  padding: 7% 15%;
  background-color: white;
}

.cta-text{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
    line-height: 1.5;

}

#footer{
  text-align: center;
  /* color: #ea2c62; */
  background-color: #fff3e2;
  padding: 7% 15%;
  
}
.footer-fa{
  margin: 10px;
}
